doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
	
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.container
					ul.nav
						li
							a(href="/") Home
						li
							a(href="/about") About
						li
							a(href="/contact") Contact
		div.container
			block content